<wm-partial data-ng-controller="topnavPageController" name="topnav" type="topnav">
    <wm-navbar name="navbar1">
        <wm-nav name="leftTopLinks" type="navbar" class="navbar-left">
            <wm-nav-item name="list_home">
                <wm-anchor caption="Home" name="homeLink" iconclass="wi wi-home" on-click="Variables.goToPage_Main.invoke()"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_services">
                <wm-anchor caption="Order" name="orderLink" iconclass="wi wi-list"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="nav_item5"></wm-nav-item>
            <wm-nav-item name="nav_item6">
                <wm-menu caption="Menu" name="menu1" iconclass="wi wi-file" type="anchor"></wm-menu>
            </wm-nav-item>
        </wm-nav>
        <wm-nav name="rightTopLinks" type="navbar" class="navbar-right">
            <wm-nav-item name="list_help">
                <wm-anchor caption="Help" name="helpLink" iconclass="wi wi-help-outline"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_logout">
                <wm-anchor caption="Logout" name="logoutLink" iconclass="wi wi-sign-out" on-click="Variables.logoutVariable.invoke()"></wm-anchor>
            </wm-nav-item>
        </wm-nav>
    </wm-navbar>
</wm-partial>