<wm-page data-ng-controller="MainPageController" name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-page-content columnwidth="12" name="mainContent" padding="unset 15px">
            <wm-tabs name="tabs1">
                <wm-tabpane name="holidayPane" paneicon="fa fa-sticky-note" title="Holidays">
                    <wm-layoutgrid name="layoutgrid3" columns="4">
                        <wm-gridrow name="gridrow10">
                            <wm-gridcolumn columnwidth="3" name="gridcolumn25">
                                <wm-composite name="composite2">
                                    <wm-container class="col-md-9" name="container2">
                                        <wm-text name="Month" placeholder="Enter Month" updateon="blur"></wm-text>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="3" name="gridcolumn26">
                                <wm-composite name="composite3">
                                    <wm-container class="col-md-9" name="container3">
                                        <wm-text name="countryCode" placeholder="Enter Country Code" updateon="blur"></wm-text>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="3" name="gridcolumn27">
                                <wm-composite name="composite4">
                                    <wm-container class="col-md-9" name="container4">
                                        <wm-text name="year" placeholder="Enter Year" updateon="blur"></wm-text>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="3" name="gridcolumn28">
                                <wm-button class="btn-default" caption="Submit" type="button" margin="unset 0.5em" name="submitButton" iconclass="wi wi-find-in-page" on-click="Variables.svHolidayAPI.invoke()"></wm-button>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow11">
                            <wm-gridcolumn columnwidth="3" name="gridcolumn29"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="3" name="gridcolumn30"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="3" name="gridcolumn31"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="3" name="gridcolumn32"></wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-grid title="" dataset="bind:Variables.svHolidayAPI.dataSet" navigation="Basic" name="grid1">
                        <wm-grid-column binding="status" caption="Status" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="holidays[0].observed" caption="Holidays[0] Observed" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="holidays[0].name" caption="Holidays[0] Name" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="holidays[0].public" caption="Holidays[0] Public" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="holidays[0].date" caption="Holidays[0] Date" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                    </wm-grid>
                </wm-tabpane>
                <wm-tabpane name="tabpane2" title="Currency EX" paneicon="wi wi-work">
                    <wm-grid title="" dataset="bind:Variables.ApilayerInvoke.dataSet" navigation="Basic" name="grid2">
                        <wm-grid-column binding="timestamp" caption="Timestamp" type="string" readonly="true" datepattern="dd/MM/yyyy" formatpattern="toDate" edit-widget-type="text" show="true"></wm-grid-column>
                        <wm-grid-column binding="source" caption="Source" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                        <wm-grid-column binding="quotes.USDSEK" caption="Quotes Usdsek" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                        <wm-grid-column binding="quotes.USDEUR" caption="Quotes Usdeur" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                        <wm-grid-column binding="quotes.USDINR" caption="Quotes Usdinr" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                    </wm-grid>
                </wm-tabpane>
                <wm-tabpane name="tabpane3" title="IPINFO" paneicon="wi wi-music">
                    <wm-composite name="composite5">
                        <wm-label class="col-md-3 control-label" name="label6" caption="Enter IP to lookup"></wm-label>
                        <wm-container class="col-md-9" name="container5">
                            <wm-text name="ipText" placeholder="IP...."></wm-text>
                        </wm-container>
                    </wm-composite>
                    <wm-grid title="" dataset="bind:Variables.IpinfoInvoke.dataSet" navigation="Basic" name="grid3">
                        <wm-grid-column binding="region" caption="Region" pcdisplay="true" mobiledisplay="true" readonly="true"></wm-grid-column>
                        <wm-grid-column binding="postal" caption="Postal" pcdisplay="true" mobiledisplay="true" readonly="true"></wm-grid-column>
                        <wm-grid-column binding="loc" caption="Loc" pcdisplay="true" mobiledisplay="true" readonly="true"></wm-grid-column>
                        <wm-grid-column binding="hostname" caption="Hostname" pcdisplay="true" mobiledisplay="true" readonly="true"></wm-grid-column>
                        <wm-grid-column binding="org" caption="Org" pcdisplay="true" mobiledisplay="true" readonly="true"></wm-grid-column>
                        <wm-grid-column binding="ip" caption="Ip" pcdisplay="true" mobiledisplay="true" readonly="true"></wm-grid-column>
                        <wm-grid-column binding="country" caption="Country" pcdisplay="true" mobiledisplay="true" readonly="true"></wm-grid-column>
                        <wm-grid-column binding="city" caption="City" pcdisplay="true" mobiledisplay="true" readonly="true"></wm-grid-column>
                    </wm-grid>
                </wm-tabpane>
                <wm-tabpane name="tabpane5" title="FileUpload">
                    <wm-fileupload name="fileupload2" service="FileService" operation="uploadFile" multiple="true" maxfilesize="30" on-success="Variables.ListFiles.invoke()"></wm-fileupload>
                    <wm-grid title="" dataset="bind:Variables.ListFiles.dataSet" navigation="Basic" name="grid4" multiselect="false" radioselect="true" spacing="condensed">
                        <wm-grid-column binding="name" caption="Name" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                        <wm-grid-column binding="path" caption="Path" type="string" widget-type="image" readonly="true" edit-widget-type="text" show="true"><img data-ng-src="{{row.getProperty('path')}}" alt="{{row.getProperty('path')}}" class="" data-ng-class="">
                        </wm-grid-column>
                        <wm-grid-column binding="type" caption="Type" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                        <wm-grid-column binding="size" caption="Size" type="string" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>
                    </wm-grid>
                    <wm-button class="btn-default" caption="Delete Selected" type="button" margin="unset 0.5em" iconclass="wi wi-delete-forever" on-click="Variables.deleteFile.invoke();Variables.ListFiles.invoke()" name="deleteFileButton"></wm-button>
                    <wm-button class="btn-default" caption="Download Selected" type="button" margin="unset 0.5em" iconclass="wi wi-delete-forever" on-click="Variables.DownloadFile.invoke()" name="button3"></wm-button>
                </wm-tabpane>
                <wm-tabpane name="tabpane5_1" title="WSTest">
                    <wm-composite name="composite5_1">
                        <wm-label class="col-md-3 control-label" name="label3"></wm-label>
                        <wm-container class="col-md-9" name="container6">
                            <wm-text name="wstext" on-blur="wstextBlur($event, $scope)"></wm-text>
                        </wm-container>
                    </wm-composite>
                    <wm-label padding="unset 0.5em" name="socketReplyLabel" caption="bind:Variables.st_socketReply.dataSet.dataValue"></wm-label>
                </wm-tabpane>
            </wm-tabs>
        </wm-page-content>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>